@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model PagedList<MovtoBancarioViewModel>
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../MovimentoBancario/Create";
    t[0].nomeCurto = "Incluir";
    t[0].exibir = "S";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
}
<div class="container-cadastro">
    @Html.Partial("_alerts")
    <div class="x_panel">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Movimento bancário", Descricao = "", Transacao = t })
        <div class="x_content">
            @using (Ajax.BeginForm("ListParam", "MovimentoBancario", new AjaxOptions { HttpMethod = "get", UpdateTargetId = "div-list" }, new { @style = "margin-left: 20px", @role = "search", @id = "form0" }))
            {
                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.Editor("nome_banco1", "BancosAutoComplete", new { nextField = "data1" })
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="dt_emissao1">Emissão</label>
                            <div class="row clearfix">
                                <div class="col-md-5">
                                    <input type="date" class="form-control" name="data1" id="data1" value="@DateTime.Today.ToString("yyyy-MM-01")" />
                                </div>
                                <div class="col-md-1">
                                    à
                                </div>
                                <div class="col-md-5">
                                    <input type="date" class="form-control" name="data2" id="data2" value="@Convert.ToDateTime(DateTime.Today.AddMonths(1).ToString("yyyy-MM-01")).AddDays(-1).ToString("yyyy-MM-dd")" />
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="#panel-detail" class="btn btn-primary" onclick="busca()">Buscar</a>
                            <input type="button" class="btn btn-default" onclick="window.location = '../MovimentoBancario/Create'" value="Incluir" />
                        </div>
                    </div>
                </div>
            }
            <div id="div-list"></div>
        </div>
    </div>
</div>

<script>
    //$(function () {
    //    $('#form000').submit(function () {
    //        if ($(this).valid()) {
    //            $.ajax({
    //                url: this.action,
    //                type: this.method,
    //                data: $(this).serialize(),
    //                success: function (result) {
    //                    $('#div-list').html(result);
    //                }
    //            });
    //        }
    //        return false;
    //    });
    //});

    function busca() {
        Refresh(0, getPageSize(), 'ListParam', 'div-list');
        $('#div-list').html('');
    }
</script>



