@using DWM.Models.Repositories;
@model System.Web.Mvc.PagedList<ClienteViewModel>
@{
    Layout = null;
}

@if (Model != null)
{
    <div class="row Scroll margem-negativa">
        <div class="col-md-12">
            <table class="table table-hover table-bordered table-condensed dedo-indicador">
                <caption></caption>
                <thead class="corvo text-white">
                    <tr>
                        <th>Nome do Cliente</th>
                        <th>CPF/CNPJ</th>
                        <th>Telefone</th>
                        <th>Grupo</th>
                    </tr>
                </thead>
                @foreach (ClienteViewModel cli in Model)
                {
                    <tr onclick="Move('@cli.clienteId', '@cli.nome')">
                        <td class="col-md-6 col-sm-4">
                            <small>@cli.nome</small><br />
                            <small>@cli.email</small>
                        </td>
                        <td class="col-md-2 col-sm-2">
                            <small>@App_Dominio.Models.Funcoes.FormataCPFCNPJ(cli.cpf_cnpj)</small>
                        </td>
                        <td class="col-md-2 col-sm-2">
                            <small>@App_Dominio.Models.Funcoes.FormataTelefone(cli.fone1)</small>
                        </td>
                        <td class="col-md-2 col-sm-3">
                            <small>@cli.nome_grupo</small>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}



