@using DWM.Models.Repositories;
@model System.Web.Mvc.PagedList<EnquadramentoViewModel>
@{
    Layout = null;
    int idx = 0;
    string colapseName = "colapseEnq"; 
}

@if (Model != null)
{
<div class="hidden-xs hidden-sm hidden-md">
    <table class="table table-striped jambo_table bulk_action" style="width: 100%" id="datatableENQ">
        <thead>
            <tr class="headings">
                <th class="col-md-2 column-title text-center nobr">Ação</th>
                <th>Enquadramento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (EnquadramentoViewModel enq in Model)
            {
                idx++;
                colapseName = "collapseExample" + idx.ToString();
                <tr class="even pointer">
                    <td class="col-md-2 text-center">
                        <button type="button" class="fa fa-check" title="Selecionar" onclick="Move('@enq.enquadramentoId', '@enq.descricao')"></button>
                        <button type="button" class="fa fa-info" title="Informações do modelo contábil" data-toggle="collapse" data-target="#@colapseName" aria-expanded="false" aria-controls="collapseExample"></button>
                    </td>
                    <td>
                        <small>@enq.descricao</small>
                        <div class="collapse" id="@colapseName">
                            <table class="table">
                                <tr>
                                    <td class="text-dark"><small><strong>Conta</strong></small></td>
                                    <td class="text-dark"><small><strong>Descrição</strong></small></td>
                                    <td class="text-dark"><small><strong>C.Custo</strong></small></td>
                                    <td class="text-dark text-center"><small><strong>Tipo</strong></small></td>
                                    <td class="text-dark"><small><strong>Valor</strong></small></td>
                                </tr>
                                @foreach (EnquadramentoItemViewModel i in enq.EnquadramentoItems)
                                {
                                    <tr>
                                        <td><small>@i.codigoPleno</small></td>
                                        <td><small>@i.descricao_planoConta</small></td>
                                        <td><small>@i.descricao_centroCusto</small></td>
                                        <td class="text-center"><small>@i.tipoLancamento</small></td>
                                        <td><small>@(i.valor.HasValue ? i.valor.Value.ToString("###,###,##0.00") : "")</small></td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <div class="hidden-lg Scroll">
        <table class="table table-striped jambo_table bulk_action" style="width: 100%" id="datatableENQ2">
            <thead>
                <tr class="headings">
                    <th class="col-md-2 column-title text-center nobr">Ação</th>
                    <th>Enquadramento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (EnquadramentoViewModel enq in Model)
                {
                    idx++;
                    colapseName = "collapseExample" + idx.ToString();
                    <tr class="even pointer">
                        <td class="col-md-2 text-center">
                            <button type="button" class="fa fa-check" title="Selecionar" onclick="Move('@enq.enquadramentoId', '@enq.descricao')"></button>
                            <button type="button" class="fa fa-info" title="Informações do modelo contábil" data-toggle="collapse" data-target="#@colapseName" aria-expanded="false" aria-controls="collapseExample"></button>
                        </td>
                        <td>
                            <small>@enq.descricao</small>
                            <div class="collapse" id="@colapseName">
                                <table class="table">
                                    <tr>
                                        <td class="text-dark"><small><strong>Conta</strong></small></td>
                                        <td class="text-dark"><small><strong>Descrição</strong></small></td>
                                        <td class="text-dark"><small><strong>C.Custo</strong></small></td>
                                        <td class="text-dark text-center"><small><strong>Tipo</strong></small></td>
                                        <td class="text-dark"><small><strong>Valor</strong></small></td>
                                    </tr>
                                    @foreach (EnquadramentoItemViewModel i in enq.EnquadramentoItems)
                                    {
                                        <tr>
                                            <td><small>@i.codigoPleno</small></td>
                                            <td><small>@i.descricao_planoConta</small></td>
                                            <td><small>@i.descricao_centroCusto</small></td>
                                            <td class="text-center"><small>@i.tipoLancamento</small></td>
                                            <td><small>@(i.valor.HasValue ? i.valor.Value.ToString("###,###,##0.00") : "")</small></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}
<!-- Datatables -->
<script src="../Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
    $('#datatableENQ').DataTable({
        lengthMenu: [[15, 25, 50, 100, -1], [15, 25, 50, 100, "Todos"]],
        iDisplayLength: 15,
        language: {
            "url": "../Scripts/DataTablePtBr.txt"
        },
    });
    $('#datatableENQ2').DataTable({
        lengthMenu: [[15, 25, 50, 100, -1], [15, 25, 50, 100, "Todos"]],
        iDisplayLength: 15,
        language: {
            "url": "../Scripts/DataTablePtBr.txt"
        },
    });
</script>




