@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model PagedList<BalanceteViewModel>
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Contabilidade/Create";
    t[0].nomeCurto = "Incluir";
    t[0].exibir = "S";
    t[0].referencia = "";

    t[1].url = "../Home/Default";

    string value = "";
    string Text = "";

    if (Request ["centroCustoId"] != null && Request["centroCustoId"] != "")
    {
        value = Request["centroCustoId"];
        Text = Request["descricao_centroCusto"];
    }
}
<!-- Datatables -->
<link href="../Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<script>
    var _Labels = new Array();
    var _ToolTips = new Array();
    var _Data = new Array();
</script>

<script src="~/Content/RGraph/libraries/RGraph.common.core.js"></script>
<script src="~/Content/RGraph/libraries/RGraph.common.dynamic.js"></script>
<script src="~/Content/RGraph/libraries/RGraph.common.tooltips.js"></script>
<script src="~/Content/RGraph/libraries/RGraph.pie.js"></script>

<style>
    .RGraph_tooltip {
        font-size: 16pt !important;
        font-weight: bold;
        text-align: center;
        padding: 15px;
    }
</style>

<div class="container-cadastro">
    @Html.Partial("_alerts")
    @Html.Partial("_AjaxAlert", "")
    <div class="x_panel">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Balancete", Descricao = "", Transacao = t })
        <div class="x_content">
            @using (Ajax.BeginForm("ListParam", "Balancete", new AjaxOptions { HttpMethod = "get", UpdateTargetId = "div-list-static" }, new { @role = "search", @id = "form0", @name = "form0" }))
            {
                @Html.Hidden("planoContaId")
                @Html.Hidden("descricao_conta")
                @Html.Hidden("codigoPleno")
                @Html.Hidden("totalizaConta", "S")
                @Html.Hidden("totalizaDia", "N")
                @Html.Hidden("grauPC", "0")
                @Html.Hidden("RecDesp", "N")

                DateTime? d1 = Request["data1"] == null || Request["data1"].Contains("%") ? (DateTime)ViewData["dt_lancamento_inicio"] : Convert.ToDateTime(Request["data1"]);
                DateTime? d2 = Request["data2"] == null || Request["data2"].Contains("%") ? (DateTime)ViewData["dt_lancamento_fim"] : Convert.ToDateTime(Request["data2"]);

                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        @Html.Editor("descricao_centroCusto1", "CentroCustoAutoComplete", new { nextField = "data1", prevField = "descricao_conta", value = value, Text = Text })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="data1">Período</label>
                            <div class="row clearfix">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <input type="date" class="form-control" name="data1" id="data1" value="@d1.Value.ToString("yyyy-MM-dd")" />
                                </div>
                                <div class="col-lg-1">
                                    à
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <input type="date" class="form-control" name="data2" id="data2" value="@d2.Value.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <a href="#panel-detail" class="btn btn-primary" onclick="validaBal(0);">Buscar</a>
                            <input type="button" class="btn btn-default" onclick="window.location = '../Contabilidade/Create'" value="Incluir" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="div-list-static">
        @if (Model != null)
        {
            @Html.Partial("ListParam", Model)
        }
    </div>
</div>

<script>
    $(function () {
        $('#form0').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#div-list-static').html(result);
                    }
                });
            }
            return false;
        });
    });

    function validaBal(grauPC) {
        $('#grauPC').val(grauPC);
        $('#RecDesp').val("N");
        Refresh(0, getPageSize(), 'ListParam', 'div-list-static');
        $('#div-list-static').html('');
    }

    function BalanceteRecDesp(grauPC) {
        $('#RecDesp').val("S");
        $('#grauPC').val(grauPC);
        Refresh(0, getPageSize(), 'ListParam', 'div-list-static');
        $('#div-list-static').html('');
    }

    //function validaPDF()
    //{
    //    if ($('#planoContaId').val() == null || $('#planoContaId').val() == '') {
    //        ShowMessageAlert('É preciso informar a conta para a emissão do Razão', 'warning');
    //        return false;
    //    }
    //    else
    //        return true;
    //}

</script>

