@using DWM.Models.Repositories
@using App_Dominio.Repositories
@using DWM.Models.Repositories;
@model PagedList<BalanceteViewModel>
@{
    Layout = null;

    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository(), new TransacaoRepository(), new TransacaoRepository(),
                                new TransacaoRepository(), new TransacaoRepository(), new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "#";
    t[0].nomeCurto = "Balancete Nível 1";
    t[0].exibir = "N";
    t[0].referencia = "validaBal(1)";

    t[1].url = "#";
    t[1].nomeCurto = "Balancete Nível 2";
    t[1].exibir = "N";
    t[1].referencia = "validaBal(2)";

    t[2].url = "#";
    t[2].nomeCurto = "Balancete Nível 3";
    t[2].exibir = "N";
    t[2].referencia = "validaBal(3)";

    t[3].url = "#";
    t[3].nomeCurto = "Balancete todos os níveis";
    t[3].exibir = "N";
    t[3].referencia = "validaBal(0)";
    t[3].PageSize = 1; // inclui um linha horizontal após exibir o item

    t[4].url = "#";
    t[4].nomeCurto = "Balancete Receitas e Despesas";
    t[4].exibir = "N";
    t[4].referencia = "BalanceteRecDesp(0)";

    t[5].url = "#";
    t[5].nomeCurto = "Lucro/Prejuízo";
    t[5].exibir = "S";
    t[5].referencia = "Resumo()";
    t[5].PageSize = 1; // inclui um linha horizontal após exibir o item

    t[6].url = "../Balancete/Imprimir?data1=" + Model.Filtros.ElementAt(3).valor + "&data2=" + Model.Filtros.ElementAt(4).valor + "&centroCustoId=" + Model.Filtros.ElementAt(0).valor + "&grauPC=" + Model.Filtros.ElementAt(2).valor + "&descricao_centroCusto=" + Model.Filtros.ElementAt(6).valor + "&RecDesp=" + Model.Filtros.ElementAt(7).valor;
    t[6].nomeCurto = "Imprimir";
    t[6].exibir = "S";
    t[6].sessionId = "_blank";

    t[7].url = "../Home/Default";

    var total2 = Model.Where(info => info.ShowGraph == 2).Sum(info => Math.Abs(info.vr_debito - info.vr_credito));
    var total = Model.Where(info => info.ShowGraph == 1).Sum(info => Math.Abs(info.vr_saldo_atual));
}

@if (Model != null)
{
    <script>
        var _Labels = new Array();
        var _ToolTips = new Array();
        var _Data = new Array();
    </script>
    string font = "normal";
    <div class="x_panel" id="panel-detail">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Balancete", Descricao = "", Transacao = t })
        <div class="x_content">
            <div class="dashboard-widget-content">
                <div class="row clearfix hidden-xs hidden-sm hidden-md">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="div-graph">
                        @*<canvas id="cvs_pie2" width="350" height="250">
                    [No canvas support]
                </canvas>*@
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-sm">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action" id="datatable">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title text-center">Código Pleno</th>
                                    <th class="column-title">Descrição</th>
                                    <th style="text-align: right">Saldo Anterior</th>
                                    <th style="text-align: right">Débito</th>
                                    <th style="text-align: right">Crédito</th>
                                    <th style="text-align: right">Saldo</th>
                                    <th class="column-title no-link last text-center">
                                        <span class="nobr">Ação</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (BalanceteViewModel balancete in Model)
                                {
                                    if (balancete.planoContaId_pai.HasValue)
                                    {
                                        font = "normal";
                                    }
                                    else
                                    {
                                        font = "bold";
                                    }
                                    <tr class="even pointer" style="font-weight: @font">
                                        <td class="text-center">
                                            <span>@balancete.codigoPleno</span>
                                        </td>
                                        <td style="text-indent: @((balancete.grauPc - 1) * 20)px">
                                            <span>@balancete.descricao</span>
                                            @if (balancete.ShowGraph == 1)
                                            {
                                                var percent = (Math.Abs(balancete.vr_saldo_atual) / total) * 100;
                                                <script>
                                                _Labels.push('@Html.Raw((balancete.descricao.Length > 30 ? balancete.descricao.Substring(0,30) : balancete.descricao) + " " + percent.ToString("##0.00") + "%")');
                                                _ToolTips.push('@Html.Raw(balancete.descricao + " " + Math.Abs(balancete.vr_saldo_atual).ToString("R$ ###,###,##0.00") + " (" + percent.ToString("##0.00") + "%)")');
                                                _Data.push('@Math.Abs(balancete.vr_saldo_atual)');
                                                </script>
                                            }
                                            else if (balancete.ShowGraph == 2)
                                            {
                                                var percent = (Math.Abs(balancete.vr_debito - balancete.vr_credito) / total2) * 100;
                                                <script>
                                                _Labels.push('@Html.Raw((balancete.descricao.Length > 30 ? balancete.descricao.Substring(0,30) : balancete.descricao) + " " + percent.ToString("##0.00") + "%")');
                                                _ToolTips.push('@Html.Raw(balancete.descricao + " " + Math.Abs(balancete.vr_debito - balancete.vr_credito).ToString("R$ ###,###,##0.00") + " (" + percent.ToString("##0.00") + "%)")');
                                                _Data.push('@Math.Abs(balancete.vr_debito - balancete.vr_credito)');
                                                </script>
                                            }
                                        </td>
                                        <td class="text-right">
                                            <span>@balancete.vr_saldo_ant.ToString("###,###,##0.00")</span>
                                        </td>
                                        <td class="text-right">
                                            <span>@balancete.vr_debito.ToString("###,###,##0.00")</span>
                                        </td>
                                        <td class="text-right">
                                            <span>@balancete.vr_credito.ToString("###,###,##0.00")</span>
                                        </td>
                                        <td class="text-right">
                                            <span>@balancete.vr_saldo_atual.ToString("###,###,##0.00")</span>
                                        </td>
                                        <td class="text-center">
                                            @if (balancete.tipoConta == "A")
                                            {
                                                <a href="#" title="Razão contábil" data-toggle="modal" data-target="#myModal" onclick="Razao('@balancete.planoContaId','@balancete.descricao','@balancete.codigoPleno')"><i class="fa fa-1x fa-search-plus"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="hidden-lg">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action" id="datatable">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title text-center"><small>Código Pleno</small></th>
                                    <th class="column-title"><small>Descrição</small></th>
                                    <th style="text-align: right"><small>Saldo Anterior</small></th>
                                    <th style="text-align: right"><small>Débito</small</th>
                                    <th style="text-align: right"><small>Crédito</small</th>
                                    <th style="text-align: right"><small>Saldo</small</th>
                                    <th class="column-title no-link last text-center">
                                        <span class="nobr">Ação</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (BalanceteViewModel balancete in Model)
                                {
                                    if (balancete.planoContaId_pai.HasValue)
                                    {
                                        font = "normal";
                                    }
                                    else
                                    {
                                        font = "bold";
                                    }
                                    <tr class="even pointer" style="font-weight: @font">
                                        <td class="text-center">
                                            <small>@balancete.codigoPleno</small>
                                        </td>
                                        <td style="text-indent: @((balancete.grauPc - 1) * 20)px">
                                            <small>@balancete.descricao</small>
                                            @if (balancete.ShowGraph == 1)
                                            {
                                                var percent = (Math.Abs(balancete.vr_saldo_atual) / total) * 100;
                                                <script>
                                                _Labels.push('@Html.Raw((balancete.descricao.Length > 30 ? balancete.descricao.Substring(0,30) : balancete.descricao) + " " + percent.ToString("##0.00") + "%")');
                                                _ToolTips.push('@Html.Raw(balancete.descricao + " " + Math.Abs(balancete.vr_saldo_atual).ToString("R$ ###,###,##0.00") + " (" + percent.ToString("##0.00") + "%)")');
                                                _Data.push('@Math.Abs(balancete.vr_saldo_atual)');
                                                </script>
                                            }
                                            else if (balancete.ShowGraph == 2)
                                            {
                                                var percent = (Math.Abs(balancete.vr_debito - balancete.vr_credito) / total2) * 100;
                                                <script>
                                                _Labels.push('@Html.Raw((balancete.descricao.Length > 30 ? balancete.descricao.Substring(0,30) : balancete.descricao) + " " + percent.ToString("##0.00") + "%")');
                                                _ToolTips.push('@Html.Raw(balancete.descricao + " " + Math.Abs(balancete.vr_debito - balancete.vr_credito).ToString("R$ ###,###,##0.00") + " (" + percent.ToString("##0.00") + "%)")');
                                                _Data.push('@Math.Abs(balancete.vr_debito - balancete.vr_credito)');
                                                </script>
                                            }
                                        </td>
                                        <td class="text-right">
                                            <small>@balancete.vr_saldo_ant.ToString("###,###,##0.00")</small>
                                        </td>
                                        <td class="text-right">
                                            <small>@balancete.vr_debito.ToString("###,###,##0.00")</small>
                                        </td>
                                        <td class="text-right">
                                            <small>@balancete.vr_credito.ToString("###,###,##0.00")</small>
                                        </td>
                                        <td class="text-right">
                                            <small>@balancete.vr_saldo_atual.ToString("###,###,##0.00")</small>
                                        </td>
                                        <td class="text-center">
                                            @if (balancete.tipoConta == "A")
                                            {
                                                <a href="#" title="Razão contábil" data-toggle="modal" data-target="#myModal" onclick="Razao('@balancete.planoContaId','@balancete.descricao','@balancete.codigoPleno')"><i class="fa fa-1x fa-search-plus"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a href="#panel-detail" class="info pull-right" id="linkTopo"><i class="fa fa-toggle-up"></i> Topo</a>
        </div>
    </div>
    <!-- Formulário Modal - Razão Contábil-->
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog modal-lg" style="width: 70%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Razão Contábil</h4>
                </div>
                <div class="modal-body" id="myBody">
                    <p>Aguarde...&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Formulário Modal - Lucro/Prejó-->
    <a id="tttt" href="#myModal1" data-toggle="modal"></a>
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="header-resumo">Apuração de Lucro/Prejuízo</h4>
                </div>
                <div class="modal-body" id="myBody1">
                    <p>Aguarde...&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        document.getElementById("linkTopo").click();
    </script>
}
else if (TempData[App_Dominio.Controllers.Alerts.ATTENTION] != null)
{
    @Html.Partial("_alerts")
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}

<!-- Datatables -->
<script src="../Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- Datatables -->
<script>
    $('#datatable').DataTable({
        lengthMenu: [[15, 25, 50, 100, -1], [15, 25, 50, 100, "Todos"]],
        iDisplayLength: 15,
        bSort: false,
        language: {
            "url": "../Scripts/DataTablePtBr.txt"
        }
    });

    var table = $("#datatable").DataTable();
    $.fn.dataTable.ext.search.push(
    function (settings, data, dataIndex) {
        var term = $('#datatable_filter input')
                .val()
                .toLowerCase();

        for (var i = 0; i < data.length; i++) {
            value = data[i]
                .toString()
                .toLowerCase();

            if (value.indexOf(term) == 0 && (i == 0 || i == 1)) {
                return true;
            }
        };
        return false;
    });
</script>
<!-- /Datatables -->

<script>

    function Razao(planoContaId, descricao, codigoPleno) {
        $('#carregando').css("visibility", "visible");
        $('#carregando').css("width", "100%");
        $('#carregando').css("height", "100%");
        $('#carregando').css("position", "absolute");
        $('#carregando').css("background-color", "black");
        $('#carregando').css("filter", "alpha(opacity=60)");
        $('#carregando').css("opacity", "0.6");
        $('#carregando').css("left", "0%");
        $('#carregando').css("top", "0%");

        $('#planoContaId').val(planoContaId);
        $('#descricao_conta').val(descricao);
        $('#codigoPleno').val(codigoPleno);

        $.ajax({
            type: "GET",
            url: "../Razao/ListParamModal",
            data: {
                index: 0,
                pageSize: 1000,
                data1: $('#data1').val(),
                data2: $('#data2').val(),
                centroCustoId: $('#centroCustoId').val(),
                descricao_centroCusto: $('#descricao_centroCusto1').val(),
                planoContaId: planoContaId,
                descricao_conta: descricao,
                codigoPleno: codigoPleno,
                totalizaConta: 'S',
                totalizaDia: 'N',
                hoje: new Date()
            },
            success: function (data) {
                $('#myBody').html(data);
                $('#msgs').html("");
                $('#carregando').css("visibility", "hidden");
            }
        });
    }

    function Resumo() {
        $('#carregando').css("visibility", "visible");
        $('#carregando').css("width", "100%");
        $('#carregando').css("height", "100%");
        $('#carregando').css("position", "absolute");
        $('#carregando').css("background-color", "black");
        $('#carregando').css("filter", "alpha(opacity=60)");
        $('#carregando').css("opacity", "0.6");
        $('#carregando').css("left", "0%");
        $('#carregando').css("top", "0%");

        $.ajax({
            type: "GET",
            url: "../Balancete/LucroPrejuizo",
            data: {
                index: 0,
                pageSize: 1000,
                data1: $('#data1').val(),
                data2: $('#data2').val(),
                centroCustoId: $('#centroCustoId').val(),
                hoje: new Date()
            },
            success: function (data) {
                $('#myBody1').html(data);
                $('#msgs').html("");
                $('#carregando').css("visibility", "hidden");
                $('#header-resumo').html('Apuração de Lucro/Prejuízo ' + $('#data1').val() + ' à ' + $('#data2').val());
                document.getElementById("tttt").click();
            }
        });
    }
</script>

<script>
    //new RGraph.Pie({
    //    id: 'cvs_pie2',
    //    data: _Data,
    //    options: {
    //        tooltips: _ToolTips,
    //        labels: _Labels,
    //        labelsSticksList: true,
    //        shadow: true,
    //        strokestyle: 'rgba(0,0,0,0)',
    //        exploded: 0,
    //        textAccessible: true
    //    }
    //}).roundRobin();

    //$('#div-graph').html('<canvas id="cvs_pie2" width="350" height="250">[No canvas support]</canvas>');
    if (_Data.length > 0)
    {
        $('#div-graph').html('<canvas id="cvs_pie2" width="1024" height="350">[No canvas support]</canvas>');

        if (pie != null)
            RGraph.Reset(pie);

        var pie = new RGraph.Pie({
            id: 'cvs_pie2',
            data: _Data,
            options: {
                //title: 'Disponível',
                //titleSize: 16,
                gutterLeft: 50,
                gutterRight: 50,
                linewidth: 0,
                colors: ['rgb(255,0,0)', 'blue', 'rgb(0,255,0)', 'rgb(0,0,55)', 'rgb(255,255,0)', 'rgb(0,255,255)', 'red', 'pink', 'black', 'white'],
                strokestyle: 'rgba(0,0,0,0)',
                tooltips: _ToolTips,
                labels: _Labels,
                textSize: 8,
                variant: 'pie3d',
                radius: 100,
                labelsSticksList: true,
                radius: 80,
                shadowOffsety: 5,
                shadowColor: '#aaa',
                exploded: [, , 20],
                textAccessible: false
            }
        }).draw();
    }

    //var pie = new RGraph.Pie({
    //    id: 'cvs_pie2',
    //    data: _Data,
    //    options: {
    //        tooltips: _ToolTips,
    //        labels: _Labels,
    //        labelsSticksList: true,
    //        shadow: true,
    //        strokestyle: 'rgba(0,0,0,0)',
    //        exploded: 0,
    //        textAccessible: true
    //    }
    //});

    //pie.roundRobin();

</script>