@using DWM.Models.Repositories;
@model System.Web.Mvc.PagedList<PlanoContaViewModel>
@{
    Layout = null;
}

@if (Model != null)
{
    string font = "normal";
    <div class="row Scroll" style="margin-top: -15px">
        <div class="col-md-12" style="padding-right: 0px;">
            <table class="table table-striped jambo_table bulk_action" style="cursor: pointer">
                <caption></caption>
                <thead>
                    <tr class="headings">
                        <th class="column-title text-center">Código Pleno</th>
                        <th class="column-title">Descrição</th>
                        <th class="column-title text-center">Código Reduzido</th>
                        <th class="column-title">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PlanoContaViewModel planoConta in Model)
                    {
                        if (planoConta.planoContaId_pai.HasValue)
                        {
                            font = "normal";
                        }
                        else
                        {
                            font = "bold";
                        }
                        <tr class="even pointer" style="font-weight: @font" onclick="Move('@planoConta.planoContaId', '@(planoConta.codigoPleno + " " + @planoConta.descricao)')">
                            <td class="col-md-2 col-sm-4 text-center">
                                <small>@planoConta.codigoPleno</small>
                            </td>
                            <td class="col-md-7 col-sm-2" style="text-indent: @((planoConta.grauPc - 1) * 20)px">
                                <small>@planoConta.descricao</small>
                            </td>
                            <td class="col-md-2 col-sm-2 text-center">
                                <small>@planoConta.codigoReduzido</small>
                            </td>
                            <td class="col-md-1 col-sm-3">
                                <small>@planoConta.tipoConta</small>
                            </td>
                        </tr>
                    }
              </tbody>
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}





