@using DWM.Models.Repositories
@using App_Dominio.Repositories
@using App_Dominio.Enumeracoes
@model DWM.Models.Repositories.PlanoContaViewModel
@{
    ViewBag.Title = "DWM-Finanças";
}
<div class="container">
    @using (Html.BeginForm("Edit", "PlanoContas", FormMethod.Post, new { @class = "form" }))
    {
        @Html.HiddenFor(info => info.planoContaId)
        @Html.HiddenFor(info => info.exercicio)
        <div class="panel panel-primary" style="margin-top: 10px">
            <div class="panel-heading">
                <h2 class="panel-title">
                    Plano de contas - <small class="text-white">Alteração</small>
                </h2>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(false, "", new { @style = "margin-left: -20px" })
                <div class="row clearfix">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="nome">Código Pleno *</label>
                            @Html.TextBoxFor(info => info.codigoPleno, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="nome">Código Reduzido *</label>
                            @Html.TextBoxFor(info => info.codigoReduzido, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="nome">Tipo da Conta *</label>
                            @Html.DropDownListFor(m => m.tipoConta, DropDownListEnum.TipoConta(Model.tipoConta), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.vr_saldo_inicial, "DECIMAL", new
               {
                   htmlAttributes = (object)new { @class = "form-control input-sm text-right", @onblur = "return Converte(this, 'vr_saldo_inicial')" }
               })
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="descricao">Descrição *</label>
                            @Html.TextBoxFor(m => m.descricao, new { @class = "form-control input-sm", @maxlength = "60" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Editor("descricao_pai1", "PlanoContasPaiAutoComplete", new
                           {
                               value = Model.planoContaId_pai != null ? Model.planoContaId_pai.ToString() : "",
                               Text = Model.descricao_pai ?? "",
                               prevField = "descricao",
                               nextField = "btnSalvar"
                           })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        @Html.Partial("_defaultListButtons",
                        new List<ButtonRepository>
                        {
                            new ButtonRepository() {    linkText = "Salvar",
                                                        actionName = "",
                                                        controllerName = "",
                                                        buttonType = "submit"
                                                    } ,
                            new ButtonRepository() {    linkText = "Cancelar",
                                                        actionName = "Browse",
                                                        controllerName = "PlanoContas",
                                                        buttonType = "link"
                                                    }
                        })
                    </div>
                    <div class="col-md-offset-4 hidden-xs">
                        ( * ) - Campo de preenchimento obrigatório
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<div class="altura-maxima"></div>

<script type="text/javascript">
    $('#codigoPleno').mask('@Model.mascaraPC');

</script>
