@model System.Web.Mvc.PagedList<DWM.Models.Repositories.PlanoContaViewModel>

@{
    Layout = null;
}
<!-- Datatables -->
<link href="../Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">

@if (Model != null)
{
    string font = "normal";
    <div class="dashboard-widget-content">
        <div class="table-responsive">
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr class="headings">
                        <th class="col-md-2 column-title text-center nobr">Ação</th>
                        <th class="column-title text-center">#ID</th>
                        <th class="column-title text-center">Código Pleno</th>
                        <th class="column-title">Descrição</th>
                        <th class="column-title text-center">Código Reduzido</th>
                        <th class="column-title">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DWM.Models.Repositories.PlanoContaViewModel planoConta in Model)
                    {
                        if (planoConta.planoContaId_pai.HasValue)
                        {
                            font = "normal";
                        }
                        else
                        {
                            font = "bold";
                        }
                        <tr class="even pointer" style="font-weight: @font">
                            <td class="col-md-2 text-center">
                                <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Editar" onclick="window.location='Edit?planoContaId=@planoConta.planoContaId'"></button>
                                <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" title="Excluir" onclick="window.location='Delete?planoContaId=@planoConta.planoContaId'"></button>
                            </td>
                            <td class="text-center">
                                <span>@planoConta.planoContaId</span>
                            </td>
                            <td class="text-center">
                                <span>@planoConta.codigoPleno</span>
                            </td>
                            <td style="text-indent: @((planoConta.grauPc - 1) * 20)px">
                                <span>@planoConta.descricao</span>
                            </td>
                            <td class="text-center">
                                <span>@planoConta.codigoReduzido</span>
                            </td>
                            <td>
                                <span>@planoConta.tipoConta</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("Paginacao", Model)
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}

<!-- Datatables -->
<script src="../Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Datatables -->
<script>
      $(document).ready(function() {
        $('#datatable').DataTable({
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "Todos"]],
            "scrollY": 400,
            "language": {
                "url": "../Scripts/DataTablePtBr.txt"
            }
        });
      });
</script>
<!-- /Datatables -->
