@using App_Dominio.Repositories
@model DWM.Models.Repositories.BancoViewModel
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Bancos/Create";
    t[0].nomeCurto = "Incluir";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
}

<div class="x_panel">
    @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Bancos", Descricao = "Editar Banco", Transacao = t })
    <div class="x_content">
        @using (Html.BeginForm("Edit", "Bancos", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(info => info.bancoId)
            @Html.HiddenFor(info => info.empresaId)
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.nome, new { @class = "control-label" })
                        <input type="text" class="form-control" name="nome" id="nome" value="@Model.nome" maxlength="50" />
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.classificacao, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.classificacao, new DWM.Models.Enumeracoes.BindDropDownList().ClassificacaoBanco("Nenhum"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.sigla, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.sigla, new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Salvar" name="btn-salvar" id="btn-salvar" />
                        <input type="button" onclick="window.location = '../Bancos/Browse'" class="btn btn-default" value="Cancelar" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
