@using DWM.Models.Repositories;
@model System.Web.Mvc.PagedList<EventoViewModel>
@{
    Layout = null;
}

@if (Model != null)
{
    <div class="row Scroll" style="margin-top: -15px">
        <div class="col-md-12" style="padding-right: 0px;">
            <table class="table table-striped jambo_table bulk_action" style="cursor: pointer">
                <caption></caption>
                <thead>
                    <tr class="headings">
                        <th class="column-title">Descrição</th>
                        <th class="column-title">Tipo</th>
                        <th class="column-title">Operação</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (EventoViewModel evt in Model)
                    {
                        <tr class="even pointer" onclick="Move('@evt.eventoId', '@evt.descricao')">
                            <td>
                                <small>@evt.descricao</small>
                            </td>
                            <td>
                                <small>@evt.ind_eventoFixoExtenso</small>
                            </td>
                            <td>
                                <small>@(evt.ind_operacao == "C" ? "Crédito" : "Débito")</small>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}











