@using DWM.Models.Repositories;
@model System.Web.Mvc.PagedList<EventoViewModel>
@{
    Layout = null;
}

@if (Model != null)
{
    <div class="row Scroll margem-negativa">
        <div class="col-md-12">
            <table class="table table-hover table-bordered table-condensed dedo-indicador">
                <caption></caption>
                <thead class="corvo text-white">
                    <tr>
                        <th>Descrição</th>
                        <th>Tipo</th>
                        <th>Operação</th>
                    </tr>
                </thead>
                @foreach (EventoViewModel evt in Model)
                {
                    <tr onclick="Move('@evt.eventoId', '@evt.descricao')">
                        <td class="col-md-8 col-sm-2">
                            <small>@evt.descricao</small>
                        </td>
                        <td class="col-md-10 col-sm-10">
                            <small>@evt.ind_eventoFixoExtenso</small>
                        </td>
                        <td class="col-md-2 col-sm-2 text-center">
                            <small>@(evt.ind_operacao == "C" ? "Crédito" : "Débito")</small>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @Html.Partial("Paginacao", Model)
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}













