@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model PagedList<RazaoViewModel>
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Contabilidade/Create";
    t[0].nomeCurto = "Incluir";
    t[0].exibir = "S";
    t[0].referencia = "";

    t[1].url = "../Home/Default";

    string CentroCustoValue = "";
    string CentroCustoText = "";
    string PlanoContaValue = "";
    string PlanoContaText = "";

    if (Request["centroCustoId"] != null && Request["centroCustoId"] != "")
    {
        CentroCustoValue = Request["centroCustoId"];
        CentroCustoText = Request["descricao_centroCusto"];
    }

    if (Request["planoContaId"] != null && Request["planoContaId"] != "")
    {
        PlanoContaValue = Request["planoContaId"];
        PlanoContaText = Request["descricao_conta"];
    }
}
<!-- Datatables -->
<link href="../Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">

@Html.Partial("_AjaxAlert","")
@Html.Partial("_alerts")
<div class="x_panel">
    @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Razão contábil", Descricao = "", Transacao = t })
    <div class="x_content">
        @using (Ajax.BeginForm("ListParam", "Razao", new AjaxOptions { HttpMethod = "get", UpdateTargetId = "div-list-static2" }, new { @role = "search", @id = "form0", @name = "form0" }))
        {
            DateTime? d1 = Request["data1"] == null || Request["data1"].Contains("%") ? (DateTime)ViewData["dt_lancamento_inicio"] : Convert.ToDateTime(Request["data1"]);
            DateTime? d2 = Request["data2"] == null || Request["data2"].Contains("%") ? (DateTime)ViewData["dt_lancamento_fim"] : Convert.ToDateTime(Request["data2"]);

            <div class="container-cadastro">
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
                        @Html.Editor("descricao_conta1", "PlanoContasAutoComplete", new { nextField = "descricao_centroCusto", value = PlanoContaValue, Text = PlanoContaText})
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
                        @Html.Editor("descricao_centroCusto1", "CentroCustoAutoComplete", new { nextField = "data1", prevField = "descricao_conta", value = CentroCustoValue, Text = CentroCustoText })
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="data1">Período</label>
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-5">
                                    <input type="date" class="form-control" name="data1" id="data1" value="@d1.Value.ToString("yyyy-MM-dd")" />
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 hidden-sm hidden-md hidden-xs">
                                    à
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                    <input type="date" class="form-control" name="data2" id="data2" value="@d2.Value.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 col-lg-2">
                        <div class="form-group">
                            <label class="control-label" for="totalizaConta">Totaliza por Conta</label>
                            <div class="input-group col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                @Html.DropDownList("totalizaConta", App_Dominio.Enumeracoes.DropDownListEnum.SimNao(Request["totalizaConta"] ?? "N"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 col-lg-2">
                        <div class="form-group">
                            <label class="control-label" for="totalizaDia">Totaliza por Dia</label>
                            <div class="input-group col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                @Html.DropDownList("totalizaDia", App_Dominio.Enumeracoes.DropDownListEnum.SimNao(Request["totalizaDia"] ?? "N"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="#panel-detail" class="btn btn-primary" onclick="validaRazao();">Buscar</a>
                            <input type="button" class="btn btn-default" onclick="window.location = '../Contabilidade/Create'" value="Incluir" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div id="div-list-static2">
    @if (Model != null)
    {
        @Html.Partial("ListParam", Model)
    }
</div>

<script>
    $(function () {
        $('#form0').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#div-list-static2').html(result);
                    }
                });
            }
            return false;
        });
    });

    function validaRazao() {
        if ($('#planoContaId').val() == null || $('#planoContaId').val() == '') {
            ShowMessageAjaxAlert('É preciso informar a conta para a emissão do Razão', 'warning');
        }
        else
        {
            Refresh(0, getPageSize(), 'ListParam', 'div-list-static2');
            $('#div-list-static2').html('');
        }
    }

</script>
