@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model PagedList<DiarioViewModel>
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Contabilidade/Create";
    t[0].nomeCurto = "Incluir";
    t[0].exibir = "S";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
}
<div class="x_panel">
    @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Diário da contabilidade", Descricao = "", Transacao = t })
    <div class="x_content">
        @using (Ajax.BeginForm("Listparam", "Diario", new AjaxOptions { HttpMethod = "get", UpdateTargetId = "div-list-static" }, new { @role = "search", @id = "form000" }))
        {
            <div class="container-cadastro">
                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.Editor("descricao_centroCusto1", "CentroCustoAutoComplete", new { nextField = "data1" })
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="data1">Período</label>
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    @Html.Editor("__data1", "DATE", new { identificador = "data1", readOnly = "false", value = Convert.ToDateTime(DateTime.Today.ToString("yyyy-MM-") + "01") })
                                </div>
                                <div class="col-md-1">
                                    à
                                </div>
                                <div class="col-md-5">
                                    @Html.Editor("__data2", "DATE", new { identificador = "data2", readOnly = "false", value = Convert.ToDateTime(DateTime.Today.AddMonths(1).ToString("yyyy-MM-") + "01").AddDays(-1) })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="totalizaDia">Totaliza por Dia</label>
                            <div class="input-group col-md-12">
                                @Html.DropDownList("totalizaDia", App_Dominio.Enumeracoes.DropDownListEnum.SimNao("N"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="totalizaDia">Totaliza lançamento</label>
                            <div class="input-group col-md-12">
                                @Html.DropDownList("totalizaId", App_Dominio.Enumeracoes.DropDownListEnum.SimNao("N"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Buscar" />
            </div>
        }
        <div id="div-list-static">
            @Html.Partial("ListParam", Model)
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#form000').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#div-list-static').html(result);
                    }
                });
            }
            return false;
        });
    });
</script>