@using DWM.Models.Repositories
@using App_Dominio.Repositories
@using App_Dominio.Enumeracoes
@model DWM.Models.Repositories.ContabilidadeViewModel
@{
    Layout = null;
    var classe = "";
    decimal deb = Model.ContabilidadeItems.Where(info => info.tipoLancamento == "D").Sum(info => info.valor);
    decimal cre = Model.ContabilidadeItems.Where(info => info.tipoLancamento == "C").Sum(info => info.valor);

    decimal Countdeb = Model.ContabilidadeItems.Where(info => info.tipoLancamento == "D").Count();
    decimal CountCred = Model.ContabilidadeItems.Where(info => info.tipoLancamento == "C").Count();

    decimal dif = deb - cre;
}

<!-- Top Tiles -->
<div class="row tile_count">
    <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3 tile_stats_count">
        <span class="count_top"><i class="fa fa-minus-square"></i> Total de débitos</span>
        <div class="count red ">@deb.ToString("R$ ###,###,###,##0.00")</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@Countdeb</i> lançamento(s)</span>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3 tile_stats_count">
        <span class="count_top"><i class="fa fa-plus-square"></i> Total de créditos</span>
        <div class="count">@cre.ToString("R$ ###,###,###,##0.00")</div>
        <span class="count_bottom"><i class="primary"><i class="fa fa-sort-asc"></i>@CountCred</i> lançamento(s)</span>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3 tile_stats_count">
        <span class="count_top"><i class="fa fa-check-square"></i> Diferença contábil</span>        
        @if (dif == 0)
        {
            <div class="count green">@dif.ToString("R$ ###,###,##0.00")</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>não há diferença </i></span>
        }
        else if (dif > 0)
        {
            <div class="count">@dif.ToString("R$ ###,###,##0.00")</div>
            <span class="count_bottom"><i class=""><i class="fa fa-sort-asc"></i>crédito </i></span>
        }
        else
        {
            <div class="count red">@dif.ToString("R$ ###,###,##0.00")</div>
            <span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>débito</i></span>
        }        
    </div>
</div>
<!-- /top tiles -->
<div class="table-responsive margem-topo">
    <table class="table table-striped">
        <thead>
            <tr class="headings">
                <th class="column-title text-center">Ação</th>
                <th class="column-title text-center">Item</th>
                <th class="column-title text-left">Conta</th>
                <th class="column-title text-left">C.Custo</th>
                <th class="column-title text-left">Histórico</th>
                <th class="column-title text-center">Tipo</th>
                <th class="column-title text-right">Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ContabilidadeItemViewModel item in Model.ContabilidadeItems)
            {
                if (item.sequencial == Model.ContabilidadeItem.sequencial && (string)TempData["operacao"] == "A")
                {
                    classe = "text-bold green";
                }
                else if (item.sequencial == Model.ContabilidadeItem.sequencial && (string)TempData["operacao"] == "E")
                {
                    classe = "text-bold red";
                }
                else
                {
                    classe = "";
                }
                <tr class="@classe">
                    <td class="col-md-1 col-sm-4 text-center">
                        <div class="row">
                            <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Editar" onclick="EditItem(@item.sequencial);"></button>
                            <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" title="Excluir" onclick="DelItem(@item.sequencial);"></button>
                        </div>
                    </td>
                    <td class="col-md-1 col-sm-4 text-center">
                        <span>@item.sequencial</span>
                    </td>
                    <td class="col-md-4 col-sm-2">
                        <span>@(item.descricao_planoConta)</span>
                    </td>
                    <td class="col-md-1 col-sm-2">
                        <span>@Html.Editor("descricao_ccusto", "TRUNC", new { text = item.descricao_centroCusto ?? "", width = 10 })</span>
                    </td>
                    <td class="col-md-3 col-sm-2">
                        <span>@item.descricao_historico</span>
                    </td>
                    <td class="col-md-1 col-sm-3 text-center">
                        <span>@item.tipoLancamento</span>
                    </td>
                    <td class="col-md-1 col-sm-2 text-right">
                        <span>@item.valor.ToString("###,###,###,##0.00")</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    function EditItem(obj) {
        CarregandoIn();

        var link = '@Url.Action("EditItem")';
        link = encodeURI(link + '?sequencial=' + obj + '&master=null&noCahce=' + new Date());
        $('#div-item').load(link);

        $(document).ajaxSuccess(function (event, xhr, settings) {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        }).error(function () {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        })
    }

    function DelItem(obj) {
        CarregandoIn();

        var link = '@Url.Action("DeleteItem")';
        link = encodeURI(link + '?sequencial=' + obj + '&master=null&noCahce=' + new Date());

        $('#div-item').load(link);

        $(document).ajaxSuccess(function (event, xhr, settings) {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        }).error(function () {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        })

    }

</script>
