@using DWM.Models.Repositories
@using App_Dominio.Repositories
@using App_Dominio.Enumeracoes
@using App_Dominio.Controllers
@model DWM.Models.Repositories.ContabilidadeViewModel
@{
    Layout = null;
}
@if (Model.ContabilidadeItem.mensagem != null && TempData.ContainsKey(Alerts.INFORMATION))
{
    <div class="row clearfix">
        <div class="col-md-12">
            @Html.Partial("_alerts")
        </div>
    </div>
}
<div class="row clearfix">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
        @Html.Editor("descricao_conta1", "PlanoContasAutoComplete", new { value = Model.ContabilidadeItem.planoContaId.ToString(),
                                                                          Text = Model.ContabilidadeItem.descricao_planoConta,
                                                                          Tag = Model.ContabilidadeItem.codigoPleno,
                                                                          tabIndex = 1,
                                                                          nextField = "descricao_centroCusto" })
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
        @Html.Editor("descricao_centroCusto1", "CentroCustoAutoComplete", new{ value = Model.ContabilidadeItem.centroCustoId.ToString(),
                                                                               Text = Model.ContabilidadeItem.descricao_centroCusto,
                                                                               tabindex=2,
                                                                               nextField = "descricao_historico",
                                                                               prevField = "descricao_conta"
                                                                           })
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
        <div class="row">
            <div class="col-md-12">
                @Html.Editor("descricao_historico1", "HistoricoAutoComplete", new
                                                                                   {
                                                                                       value = Model.ContabilidadeItem.historicoId.ToString(),
                                                                                       Text = Model.ContabilidadeItem.descricao_historico,
                                                                                       tabindex = 3,
                                                                                       nextField = "ContabilidadeItem_complementoHist",
                                                                                       prevField = "descricao_centroCusto"
                                                                                   })
            </div>            
        </div>
        <div class="row clearfix hidden-lg">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="complementoHist">Histórico complementar</label>
                    @Html.TextAreaFor(m => m.ContabilidadeItem.complementoHist, 5, 1, new { @class = "form-control", @tabindex = "4" })
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
                <div class="form-group">
                    <label class="control-label" for="nome">Tipo do lançamento</label>
                    @Html.DropDownListFor(m => m.ContabilidadeItem.tipoLancamento, DropDownListEnum.NaturezaOperacao(Model.ContabilidadeItem.tipoLancamento), new { @class = "form-control", @tabindex="5" })
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                @Html.EditorFor(m => m.ContabilidadeItem.valor, "DECIMAL", new
                   {
                       htmlAttributes = (object)new { @class = "form-control text-right", @onblur = "return Converte(this, 'valor')" , tabindex = "6" }
                   })
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6 hidden-xs hidden-md hidden-md">
        <div class="form-group">
            <label class="control-label" for="complementoHist">Histórico complementar</label>
            @Html.TextAreaFor(m => m.ContabilidadeItem.complementoHist, 5, 1, new { @class = "form-control", @tabindex = "4" })
        </div>
    </div>
</div>

